body{color:#222;-webkit-text-size-adjust:none;}
*{margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
body,button,input,select,textarea {font-family:Tahoma,Arial,Roboto,”Droid Sans”,”Helvetica Neue”,”Droid Sans Fallback”,”Heiti SC”,sans-self;font-size:12px; line-height:1.5;}
ol,ul{list-style:none;}




.join_bg img{ width:100%;}
.join_top .join_logo{top:3%; left:10%; position:absolute;}
.join_top .join_index{top:3%; right:10%; position:absolute;}
.join_top .join_index a{ background:#00a7e5; padding:10px 15px; color:#fff; text-decoration:none; font-size:14px; border-radius:5px;}
.join_zhiwei{ width:1000px; margin:auto; margin-top:80px;}
.join_zhiwei h1{ font-size:24px; height:40px; line-height:40px; border-bottom:1px solid #ccc;}
.join_zhiwei .join_content{ border-right:1px solid #ccc;border-top:1px solid #ccc;border-bottom:1px solid #ccc; margin-top:30px; padding:25px 0; }
.join_zhiwei .join_content p{ padding-left:38px; line-height:28px; font-size:18px;}
.join_php .join_content{border-left:10px solid #c12c20;}
.join_programmer .join_content{border-left:10px solid #00baff;}
.join_ui .join_content{border-left:10px solid #c12c20;}
.join_web .join_content{border-left:10px solid #00baff;}
.join_test .join_content{border-left:10px solid #c12c20;}
.join_sell .join_content{border-left:10px solid #00baff;}
.join_product .join_content{border-left:10px solid #c12c20;}
.join_weixin .join_content{border-left:10px solid #00baff;}
.join_bottom{ border-top:1px solid #ccc; width:1000px; margin:auto; margin-top:70px; margin-bottom:50px;}
.join_bottom p{ font-size:18px; text-align:center; margin-top:20px;}

#goTopBtn {position: fixed;bottom:35px;cursor:pointer;display:none; right:50px;}







