@CHARSET "UTF-8";
/* 2014步行街活动页面 */
*{ padding:0; margin:0;}
body{ font-size:12px; color:#333; font-family:"黑体", "Microsoft YaHei","微软雅黑","Microsoft JhengHei","宋体" ,Tahoma, Geneva, sans-serif; -webkit-text-size-adjust:none; height:100%;}
a{text-decoration: none;}
a:hover{text-decoration: none}
li{list-style: none;dispaly:list-item;}
img{border: none;vertical-align: top; size:100% auto;}
input{border: medium none;vertical-align: middle}
textarea{resize:none;}
button{border: medium none;}
h1,h2,h3,h4,h5,h6,div,li,p{font-size:12px;font-weight: normal;}
background{size:100%;}
pre{white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;}

.bxj_content{width:100%; margin:0 auto;}

.bxj_pic{width:100%; margin:0 auto;}
.bxj_pic img{width:100%;display:block;}
.bxj_Button_bj{width:100%; margin:0 auto; background:url(./buxingjie_contentbj.gif) no-repeat; background-size:100%;}

.bxj_button1{ padding-left:5%; float:left; width:40%;}
.bxj_button1 img{width:50%;display:block;}
.bxj_button2{padding-left:10%; float:left; width:40%;}
.bxj_button2 img{width:50%;display:block;}
.bxj_button3{ clear:both; padding-bottom:5%; margin-left:20%; padding-top:4%;}
.bxj_button3 img{width:70%;display:block;}

/*弹框的样式*/
#popup_overlay{background:#000; opacity:0.6;}
#popup_container {font-family: Arial, sans-serif; font-size:14px; min-width: 300px; max-width: 300px; background: #FFF; border-radius:10px; opacity:0.9; line-height:25px; overflow:hidden;}
#popup_title {width:100%; display:block; line-height:30px; background:#8cd65b; text-align:center; margin:0; font-size:16px; font-weight:normal; color:#007dc5;}
#popup_content {}
#popup_content.alert #popup_ok{width:100%;}
#popup_content.confirm  #popup_ok{width:49%;}
#popup_content.prompt {}
#popup_message {text-align:center;margin:10px;}
#popup_message a{color:#007dc5; font-size:14px;}
#popup_panel {}
#popup_prompt {margin: 0.5em 0em;}
#popup_ok{font-size:16px; text-align:center; border:none; background:none; border-top:#CCC solid 1px; color:#007dc5; height:40px;}
#popup_cancel{font-size:16px; width:49%; text-align:center; border:none; background:none; border-top:#CCC solid 1px; color:#007dc5; height:40px; float:right;}