img {
	border: 0;
}
ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}
a {
	text-decoration: none;
	font-family: "微软雅黑";
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
b, i, cite, em, ins, p {
	font-style: normal;
	font-weight: normal;
}
html, body {
	width: 100%;
	margin: auto;
	text-decoration: none;
	font-family: "微软雅黑";
}
/*首页头部样式*/
.index-header {
	width: 100%;
	height: 120px;
	background: #fff;
}
.width1200 {
	width: 1200px;
	margin: auto;
}
.topnav {
	float: right;
	position: relative;
}
.logo {
	width: 201px;
	float: left;
}
.topnav ul {
	margin-top: 50px;
}
.topnav li {
	margin: auto 10px;
	float: left;
}
.topnav li a {
	font-size: 18px;
	border-radius: 3px;
	padding: 8px 26px 8px 26px;
	color: #777;
	display: block;
}
.topnav li a:hover {
	color: #4483d7;
}
.navfixedone {
	width: 124px;
	position: absolute;
	left: 442px;
	top: 91px;
	background: #f0f0f0;
	border-radius: 3px;
	z-index: 99;
	display: none;
}
.navfixedtwo {
	width: 124px;
	position: absolute;
	left: 586px;
	top: 91px;
	background: #f0f0f0;
	border-radius: 3px;
	z-index: 99;
	display: none;
}
.navfixedone a, .navfixedtwo a {
	font-size: 18px;
	padding: 6px 26px 6px 26px;
	display: block;
	color: #777;
	border-radius: 3px;
}
.navfixedone a:hover, .navfixedtwo a:hover {
	color: #4483d7;
}
/*首页头部样式end*/
/*第一部分*/
.imgbg1 {
	background: url(../img/imgbg1.jpg) no-repeat;
	background-position: center center;
	background-size: 100% 100%;
}
.imgbox {
	width: 1200px;
	height: 640px;
	position: absolute;
	left: 50%;
	margin-left: -600px;
	top: 50%;
	margin-top: -320px;
	overflow: hidden;
}
.imgbg1-1 {
	background: url(../img/imgbg1-1.png) no-repeat;
	position: relative;
	left: 50%;
	width: 1019px;
	height: 339px;
	margin-left: -508px;
	transition: all 1s;
}
.imgbg1-2 {
	background: url(../img/imgbg1-2.png) no-repeat;
	position: relative;
	left: 50%;
	width: 374px;
	height: 91px;
	margin-left: 80px;
	top: -130px;
	transition: all 1s;
}
.imgbg1-3 {
	background: url(../img/imgbg1-3.png) no-repeat;
	position: relative;
	left: 50%;
	width: 802px;
	height: 132px;
	margin-left: -500px;
	top: -80px;
	transition: all 1s;
}
.imgbg1-4 {
	background: url(../img/imgbg1-4.png) no-repeat;
	position: relative;
	left: 50%;
	width: 302px;
	height: 157px;
	margin-left: -280px;
	top: -85px;
	transition: all 1s;
}
.active .imgbg1-1 {
	margin-left: -508px;
	transition-delay: 0.7s;
}
.active .imgbg1-2 {
	bottom: 15%;
	transition-delay: 0.7s;
}
.active .imgbg1-3 {
	bottom: 15%;
	transition-delay: 0.7s;
}
.active .imgbg1-4 {
	bottom: 15%;
	transition-delay: 0.7s;
}
/*第二部分*/
.imgbox2 {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	background: #fff;
	line-height: 1.3;
	-webkit-font-smoothing: antialiased;
}
.imgbg2-1 {
	width: 129px;
	height: 129px;
	background: rgba(0,147,201,0.8);
	position: relative;
	border-radius: 50%;
	top: 400px;
	margin-left: 20px;
	text-align: center;
	color: #fff;
	line-height: 129px;
	font-size: 18px;
}
.imgbg2-2 {
	width: 196px;
	height: 196px;
	background: rgba(0,147,201,0.8);
	position: relative;
	border-radius: 50%;
	top: -20px;
	margin-left: 200px;
	text-align: center;
	color: #fff;
	line-height: 196px;
	font-size: 25px;
}
.imgbg2-3 {
	width: 155px;
	height: 155px;
	background: rgba(0,147,201,0.8);
	position: relative;
	border-radius: 50%;
	top: 80px;
	margin-left: 350px;
	text-align: center;
	color: #fff;
	line-height: 155px;
	font-size: 20px;
}
.imgbg2-4 {
	width: 270px;
	height: 270px;
	background: rgba(0,147,201,0.8);
	position: relative;
	border-radius: 50%;
	top: -300px;
	margin-left: 600px;
	text-align: center;
	color: #fff;
	line-height: 270px;
	font-size: 35px;
}
.imgbg2-5 {
	width: 90px;
	height: 90px;
	background: rgba(0,147,201,0.8);
	position: relative;
	border-radius: 50%;
	top: -600px;
	margin-left: 900px;
	text-align: center;
	color: #fff;
	line-height: 90px;
}
.imgbg2-6 {
	width: 150px;
	height: 150px;
	background: rgba(0,147,201,0.8);
	position: relative;
	border-radius: 50%;
	top: -440px;
	margin-left: 1000px;
	text-align: center;
	color: #fff;
	line-height: 150px;
	font-size: 20px;
}
/*第三部分*/
.img3zindex {
	z-index: -1
}
.imgbox3 {
	width: 1200px;
	height: 640px;
	position: absolute;
	left: 50%;
	margin-left: -600px;
	top: 50%;
	margin-top: -320px;
	overflow: hidden;
}
.imgbg3-1 {
	background: url(../img/imgbg3-1.png) no-repeat;
	position: absolute;
	width: 330px;
	height: 537px;
	top: 50px;
	left: 20px;
}
.imgbg3-2 {
	background: url(../img/imgbg3-2.png) no-repeat;
	position: absolute;
	width: 532px;
	height: 261px;
	left: 300px;
	bottom: -5px;
}
.imgbg3-3 {
	background: url(../img/imgbg3-3.png) no-repeat;
	position: absolute;
	width: 616px;
	height: 530px;
	float: right;
	right: 200px;
	top: 0px;
}
.imgbg3-4 {
	background: url(../img/imgbg3-4.png) no-repeat;
	position: absolute;
	width: 198px;
	height: 638px;
	float: right;
	right: -30px;
	bottom: -50px;
}
.imgbg3text {
	text-align: center;
}
.imgbg3text h1 {
	color: #fff;
	font-size: 35px;
	font-weight: normal;
}
.imgbg3text p {
	color: #fff;
	font-size: 18px;
	line-height: 30px;
}
.imgbg3-ipad {
	background: url(../img/imgbg3-ipad.png) no-repeat;
	position: absolute;
	width: 262px;
	height: 373px;
	left: 180px;
	z-index: 20;
	bottom: 0px;
}
.imgbg3-imac {
	background: url(../img/imgbg3-imac.png) no-repeat;
	position: absolute;
	width: 570px;
	height: 491px;
	bottom: 0px;
	left: 330px;
}
.imgbg3-iphone {
	background: url(../img/imgbg3-iphone.png) no-repeat;
	position: absolute;
	width: 127px;
	height: 285px;
	right: 240px;
	bottom: 0px;
}
/*第四部分*/
/*合作伙伴缩进*/
.imgbg4text {
	text-align: center;
	text-indent: -10px;
}
.imgbg4text h1 {
	color: #666666;
	font-size: 35px;
	font-weight: normal;
}
.imgbg4text p {
	color: #666666;
	font-size: 18px;
	line-height: 30px;
}
.onePartner {
	width: 1120px;
	margin: auto;
}
.onePartnerimg {
	width: 200px;
	float: left;
	margin-right: 20px;
}
.onePartnerMargin {
	margin-left: 110px;
}
.onePartnerTop {
	margin-top: -30px;
}
/*六边形*/
.hexagonBottom {
	float: left;
	width: 0;
	border-top: 50px solid #fff;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
}
.hexagonMiddle {
	float: left;
	width: 200px;
	height: 120px;
	background: #fff;
}
.hexagonMiddle img {
	width: 200px;
	height: 120px;
	display: block;
}
.hexagonTop {
	float: left;
	width: 0;
	border-bottom: 50px solid #fff;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
}
/*footer*/
.index-footer {
	width: 100%;
	height: 800px;
	background: #454a58;
}
.footer {
	width: 100%;
	float: left;
	height: 700px;
	background: #454a58;
	overflow: hidden;
}
.footerNav {
	width: 860px;
	margin: auto;
}
.footerNav ul {
	padding-top: 100px;
}
.footerNav li {
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	margin: auto 10px;
	border-radius: 4px;
	border: #454a58 1px solid;
}
.footerNav li:hover {
	border: #ffffff 1px solid;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.footerNav li a {
	color: #fff;
	font-size: 20px;
	line-height: 50px;
}
.footerQRcode, .footerSlogan, .footerCopy {
	width: 100%;
	text-align: center;
	float: left;
}
.footerQRcode img {
	width: 155px;
	height: 155px;
	margin-top: 70px;
}
.footerSlogan img {
	width: 541px;
	height: 48px;
	margin-top: 50px;
	margin-bottom: 40px;
}
.footerCopy {
	margin-top: 30px;
	overflow: hidden;
}
.footerCopy, .footerCopy a {
	color: #fff;
}
/*鼠标跟随样式*/
#particlesw {
	width: 100%;
	height: 100%;
}
.imgbox2 canvas {
	z-index: 3;
	position: absolute;
}
/*loding-加载*/
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 9999;
}
.preloader img {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 50px;
	height: 50px;
	margin: auto;
}
/*分页*/
.Page {
	width: 100%;
}
.paging-nav {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 20px;
	height: 70px;
	text-align: center;
	color: #666;
}
.paging-nav a {
	color: #666;
	margin: 5px;
	padding: 6px 20px;
	border-radius: 3px;
	border: 1px solid #b5b5b5;
}
.paging-nav a:hover {
	color: #fff;
	border: 1px solid #0079c9;
	background: #0079c9;
}
.paging-nav .color {
	color: #fff;
	border: 1px solid #0079c9;
	background: #0079c9;
}
/*分页end*/
/*Service*/
.ServiceBanner {
	width: 100%;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.ServiceBanner img {
	width: 100%;
}
.ServiceBannerText {
	position: absolute;
	top: 110px;
	width: 900px;
	left: 50%;
	text-align: left;
	margin-left: 50px;
}
.ServiceBannerTextOne {
	position: absolute;
	top: 110px;
	width: 900px;
	left: 50%;
	text-align: right;
	margin-left: -950px;
}
.ServiceBannerTitle {
	color: #fff;
	font-size: 60px;
}
.AboutBannerTitle {
	color: #fff;
	font-size: 60px;
	letter-spacing: 18px;
}
.ServiceBannerTitleone {
	margin: 10px auto;
	color: #fff;
	font-size: 18px;
	letter-spacing: 18px;
}
.CareerBannerTitleone {
	margin: 10px auto;
	color: #fff;
	font-size: 18px;
	letter-spacing: 2px;
}
.AboutBannerTitleone {
	margin: 10px auto;
	color: #fff;
	font-size: 18px;
	letter-spacing: 15px;
}
.ContactUsTitleone {
	margin: 10px auto;
	color: #fff;
	font-size: 18px;
	letter-spacing: 20px;
}
.ServiceBannerTitletwo {
	margin: 10px auto;
	color: #fff;
	font-size: 18px;
}
.AboutBannerTitletwo {
	margin: 10px 18px;
	color: #fff;
	font-size: 18px;
}
.container {
	width: 100%;
}
.container1200 {
	width: 1200px;
	margin: auto;
	overflow: hidden;
}
.containermargin {
	margin-bottom: 100px;
}
.ServiceIcobox {
	margin: 60px auto;
}
.ServiceIco {
	width: 172px;
	height: 240px;
	float: left;
	margin: 20px 110px;
}
.ServiceIco .Ico1 {
	width: 120px;
	height: 200px;
	margin: auto;
	background: url(../img/Serviceico1366.png) no-repeat;
	background-position: 0px 0px;
}
.ServiceIco .Ico2 {
	width: 125px;
	height: 200px;
	margin: auto;
	background: url(../img/Serviceico1366.png) no-repeat;
	background-position: -120px 0px;
}
.ServiceIco .Ico3 {
	width: 172px;
	height: 200px;
	margin: auto;
	background: url(../img/Serviceico1366.png) no-repeat;
	background-position: -246px 0px;
}
.ServiceIco .Ico4 {
	width: 141px;
	height: 200px;
	margin: auto;
	background: url(../img/Serviceico1366.png) no-repeat;
	background-position: -418px 0px;
}
.ServiceIco .Ico5 {
	width: 149px;
	height: 200px;
	margin: auto;
	background: url(../img/Serviceico1366.png) no-repeat;
	background-position: -559px 0px;
}
.ServiceIco .Ico6 {
	width: 113px;
	height: 200px;
	margin: auto;
	background: url(../img/Serviceico1366.png) no-repeat;
	background-position: -708px 0px;
}
.ServiceIco p {
	color: #667584;
	text-align: center;
	font-size: 24px;
	line-height: 40px;
}
.TitleImage {
	text-align: center;
	margin: 40px auto;
}
.CaseShownav {
	margin: auto;
}
.CaseShownav ul {
	width: 560px;
	margin: auto;
	position: relative;
}
.CaseShownav ul li {
	float: left;
}
.CaseShownav li a {
	padding: 0px 30px 5px 30px;
	color: #777;
	font-size: 18px;
	line-height: 35px;
}
.underline {
	width: 100%;
	height: 2px;
	padding: 0;
	left: -2px;
	background: #298cbf;
	display: block;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	opacity: 0;
}
.underline:after {
	content: " ";
	width: 0;
	height: 0;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-bottom: 3px solid #298cbf;
	position: absolute;
	top: -3px;
	left: 50%;
}
.CaseShownav li:hover .underline {
	opacity: 1;
}
.ActivationUnderline {
	opacity: 1;
}
.CaseShownavSecond {
	position: absolute;
	margin-top: 50px;
	left: -35px;
	display: none;
}
.CaseShownavSecondone {
	position: absolute;
	margin-top: 50px;
	left: 77px;
	display: none;
}
.CaseShownavA:hover {
	color: #298cbf;
}
.CaseShownavA {
	padding: 0px 30px 5px 30px;
	color: #777;
	font-size: 18px;
	line-height: 35px;
}
.ActivationA {
	color: #298cbf;
}
.CaseShowImg {
	margin-top: 160px;
	width: 100%;
}
.CaseShowImgbox {
	width: 272px;
	height: 302px;
	border: 1px solid #ededed;
	float: left;
	margin-left: 13px;
	margin-right: 13px;
	margin-bottom: 50px;
}
.CaseShowLogo {
	width: 272px;
	height: 230px;
	position: relative;
}
.CaseShowLogo img {
	width: 200px;
	height: 120px;
	padding: 55px 36px 55px 36px;
}
.CaseShowText {
	height: 72px;
	line-height: 72px;
	color: #777;
	font-size: 22px;
	text-align: center;
	background: #f9f9f9;
}
.CaseShowLogoQr {
	position: absolute;
	width: 272px;
	height: 230px;
	background: rgba(41,140,191,0.8);
	top: 0;
	opacity: 0;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
.CaseShowImgbox:hover .CaseShowLogoQr {
	opacity: 1;
}
.CaseShowLogoQr img {
	width: 186px;
	height: 186px;
	padding: 22px 43px 22px 43px;
}
.Abouttext {
	width: 100%;
	margin-bottom: 50px;
	margin-top: -30px;
}
.Abouttext p {
	font-size: 18px;
	color: #777777;
	text-indent: 2em;
	line-height: 35px;
	margin: auto;
}
.Aboutimg {
	width: 100%;
	position: relative;
	overflow: hidden;
	margin-bottom: -4px;
}
.Aboutimg img {
	width: 100%;
}
.Aboutimgbox {
	width: 35%;
	height: 100%;
	background: rgba(86,195,168,0.8);
	position: absolute;
}
.Aboutimgtextbox {
	width: 35%;
	position: absolute;
	height: 250px;
	top: 50%;
	margin-top: -125px;
}
.Aboutimgtext {
	width: 260px;
	height: 200px;
	float: right;
	margin-right: 50px;
}
.Aboutimgtext h1 {
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 36px;
}
.Aboutimgtext p {
	width: 100%;
	color: #fff;
	font-size: 18px;
	line-height: 30px;
}
.EzoneVision {
	position: relative;
	margin-bottom: -4px;
}
.EzoneVisionimg {
	width: 100%;
	min-height: 600px;
}
.EzoneVisionPosition {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -600px;
	text-align: center;
}
.EzoneVisionPosition p {
	color: #777;
	font-size: 18px;
	line-height: 30px;
	height: 300px;
}
.TimeAxis {
	border-radius: 18px;
	height: 18px;
	background: #757575;
	position: relative;
	margin: 300px auto;
}
.TimeAxisSpot {
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	top: -16px;
	border: 15px solid #757575;
}
.StepOne {
	left: 100px;
}
.StepTwo {
	left: 650px;
}
.StepThree {
	left: 720px;
}
.StepFour {
	left: 950px;
}
.StepFive {
	left: 1020px;
}
.Timedata {
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 30px;
	color: #01688e;
	text-align: center;
}
.TimeContent {
	text-align: left;
	background: #f4f4f4;
	border-radius: 8px;
	line-height: 35px;
	font-size: 20px;
	color: #30383b;
	padding: 30px 20px 30px 20px;
	margin-bottom: 20px;
}
.TimeContent:after {
	content: " ";
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #f4f4f4;
	position: absolute;
	bottom: 52px;
	left: 50%;
	margin-left: -8px;
}
.TimeContentBottom {
	text-align: left;
	background: #f4f4f4;
	border-radius: 8px;
	line-height: 35px;
	font-size: 20px;
	color: #30383b;
	padding: 30px 20px 30px 20px;
	margin-top: 20px;
}
.TimeContentBottom:after {
	content: " ";
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #f4f4f4;
	position: absolute;
	top: 52px;
	left: 50%;
	margin-left: -8px;
}
.TimeAxisBox {
	width: 220px;
	min-height: 150px;
	position: absolute;
}
.Timetextone {
	left: 15px;
	bottom: 40px;
}
.Timetexttwo {
	left: 560px;
	top: 40px;
}
.Timetextthree {
	left: 630px;
	bottom: 40px;
}
.Timetextfour {
	left: 860px;
	top: 40px;
}
.Timetextfive {
	left: 930px;
	bottom: 40px;
}
.EzoneCulture {
	width: 100%;
	min-height: 893px;
	background: #f7f7f7;
}
.EzoneCultureBox {
	width: 1199px;
	margin: auto;
	overflow: hidden;
}
.EzoneCultureBox img {
	display: block;
	float: left;
}
.EzoneTeamimg {
	width: 1200px;
	height: 395px;
}
.EzoneTeamimg img {
	float: left;
}
.EzoneTeam {
	width: 100%;
	background: #e9e9e9;
	text-align: center;
	padding: 20px 0 100px 0;
}
.EzoneTeam p {
	color: #777;
	font-size: 20px;
	line-height: 35px;
	width: 1200px;
	margin: auto;
}
.RecruitBox {
	width: 100%;
	padding: 50px 0 50px 0;
}
.RecruitBgColor {
	background: #eeeeee;
}
.RecruitTitle {
	float: left;
	width: 400px;
	color: #4483d7;
	font-size: 18px;
	line-height: 70px;
	text-align: center;
}
.RecruitText {
	float: left;
}
.RecruitText p {
	color: #514f4f;
	font-size: 16px;
	line-height: 35px;
}
.ContactUsOne {
	width: 100%;
}
.ContactUsBox {
	width: 365px;
	height: 330px;
	float: left;
	background: #d5ecf9;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}
.ContactUsBoxmargin {
	margin-left: 50px;
	margin-right: 50px;
}
.ContactUsAddressIco {
	width: 46px;
	height: 58px;
	margin: 40px auto;
	background: url(../img/ContactUsico.png) no-repeat;
}
.ContactUsTelIco {
	width: 54px;
	height: 58px;
	margin: 40px auto;
	background-repeat: no-repeat;
	background-image: url(../img/ContactUsico.png);
	background-position: -48px 0px;
}
.ContactUsQQIco {
	width: 52px;
	height: 58px;
	margin: 40px auto;
	background-repeat: no-repeat;
	background-image: url(../img/ContactUsico.png);
	background-position: -103px 0px;
}
.ContactUsBox h1 {
	color: #3b3b3c;
	font-size: 28px;
	font-weight: normal;
	line-height: 50px;
}
.ContactUsBox p {
	color: #3b3b3c;
	font-size: 18px;
	font-weight: normal;
}
.ContactUsBox a {
	color: #3b3b3c;
	font-size: 18px;
	font-weight: normal;
}

/*判断个宽*/
@media only screen and (min-width: 1400px) {
.imgbox3 {
	height: 740px;
	margin-top: -370px;
}
}

@media only screen and (max-width: 1400px) {
.imgbg3-ipad {
	position: absolute;
	width: 207px;
	height: 303px;
	left: 280px;
	z-index: 20;
	bottom: 0px;
	background-size: 100% 100%;
}
.imgbg3-imac {
	width: 492px;
	height: 421px;
	bottom: 0px;
	left: 380px;
	background-size: 100% 100%;
}
.imgbg3-iphone {
	width: 85px;
	height: 215px;
	right: 300px;
	bottom: 0px;
	background-size: 100% 100%;
}
.imgbg4text {
	margin-bottom: 50px;
}
.onePartner {
	width: 770px;
}
.onePartnerimg {
	width: 140px;
	margin-right: 10px;
}
.onePartnerMargin {
	margin-left: 77px;
}
.onePartnerTop {
	margin-top: -30px;
}
.hexagonBottom {
	border-top: 35px solid #fff;
	border-left: 70px solid transparent;
	border-right: 70px solid transparent;
}
.hexagonMiddle {
	width: 140px;
	height: 84px;
}
.hexagonMiddle img {
	width: 140px;
	height: 84px;
}
.hexagonTop {
	border-bottom: 35px solid #fff;
	border-left: 70px solid transparent;
	border-right: 70px solid transparent;
}
}

@media only screen and (min-width: 1600px) {
.imgbg4text {
	margin-bottom: 50px;
}
.imgbox3 {
	height: 790px;
	margin-top: -395px;
}
.ServiceBannerText {
	position: absolute;
	top: 165px;
	margin-left: 150px;
}
.ServiceBannerTextOne {
	position: absolute;
	top: 165px;
	margin-left: -1100px;
}
.ServiceIco {
	width: 268px;
	height: 350px;
	float: left;
	margin: 20px 60px;
}
.ServiceIco .Ico1 {
	width: 187px;
	height: 310px;
	margin: auto;
	background: url(../img/Serviceico.png) no-repeat;
	background-position: 0px 0px;
}
.ServiceIco .Ico2 {
	width: 194px;
	height: 310px;
	margin: auto;
	background: url(../img/Serviceico.png) no-repeat;
	background-position: -187px 0px;
}
.ServiceIco .Ico3 {
	width: 268px;
	height: 310px;
	margin: auto;
	background: url(../img/Serviceico.png) no-repeat;
	background-position: -381px 0px;
}
.ServiceIco .Ico4 {
	width: 219px;
	height: 310px;
	margin: auto;
	background: url(../img/Serviceico.png) no-repeat;
	background-position: -648px 0px;
}
.ServiceIco .Ico5 {
	width: 232px;
	height: 310px;
	margin: auto;
	background: url(../img/Serviceico.png) no-repeat;
	background-position: -866px 0px;
}
.ServiceIco .Ico6 {
	width: 176px;
	height: 310px;
	margin: auto;
	background: url(../img/Serviceico.png) no-repeat;
	background-position: -1098px 0px;
}
.ServiceIco p {
	color: #667584;
	text-align: center;
	font-size: 24px;
	line-height: 40px;
}
}


.dselected a {
	color: #4483d7 !important;
}